/*================= vars =================*/
.text-input {
    --index-layer-1: 1;
    --index-layer-2: 5;
}
/*================= vars-end =================*/

.text-input {
    display: grid;
    row-gap: .35rem;

    padding: .5rem .75rem;

    background: var(--branco);

    border-radius: .25rem;
    border-bottom: 1px solid var(--cinza-1);
}

.text-input__label {
    font-size: .75rem;
    font-weight: 400;
    color: var(--cinza);

    white-space: nowrap;
}

.text-input__input-container {
    position: relative;

    width: 100%;
    height: fit-content;

    z-index: var(--index-layer-1);
}

.text-input__input {
    width: 100%;
    color: var(--cinza-escuro);
}


.text-input__placeholder {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 100%;

    color: var(--cinza);

    z-index: var(--index-layer-2);
}

/*esconder a "placeholder"*/
.text-input__input:not(:placeholder-shown) + .text-input__placeholder {
    display: none;
}

/*================= textarea =================*/

.text-input--textarea {
    padding: 1rem .75rem;
}

.text-input--textarea .text-input__label {
    font-size: 1rem;
}

.text-input--textarea textarea {
    resize: vertical;

    max-height: 10rem;
}

/*================= modificadores =================*/
.text-input--padding-v-g {
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
}