.logo {
    display: flex;
    align-items: center;
    justify-items: left;
}

.logo>*:first-child {
    margin-right: .5ch;
}

.logo>*:first-child~* {
    height: 65%;
}

.logo>* {
    object-position: center;
}