/*imports - init*/

/*base*/
@import "base/__index__.css";

/*components*/
@import "components/__index__.css";

/*common*/
@import "common/__index__.css";

/*layout*/
@import "layout/__index__.css";

/*utils*/
@import "utils/__index__.css";

/*imports - ends*/

#root {
    background-color: var(--cinza-claro-1);

    display: grid;
    align-content: flex-start;
    justify-content: stretch;

    scroll-behavior: smooth;

    height: fit-content;
}

:focus {
    outline: solid rgb(227, 9, 96) 2px;
    outline-offset: 1px;
}

button {
    cursor: pointer;
}