.produtoList {
    --column-size: 10.35rem;
}

.produtoList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--column-size), 1fr));
    gap: 1rem;
}

@media screen and (min-width: 768px) {
    .produtoList {
        --column-size: 11rem;
    }
}

@media screen and (min-width: 1440px) {
    .produtoList {
        --column-size: 11.45rem;
    }

    .produtoList {
        row-gap: 2rem;
    }
}