:root {
    --azul: #2A7AE4;
    --azul-claro: #EAF2FD;
    --azul-claro-1: #D4E4FA;

    --branco: #FFFFFF;

    --cinza-claro: #E5E5E5;
    --cinza-claro-1: #F5F5F5;

    --cinza: #A2A2A2;
    --cinza-1: #C8C8C8;
    --cinza-escuro: #464646;
}