.padding-section-v-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.produto-form-page-padding {
    --item-size: min(100% - 2.4rem, 35rem);
    --total-padding: calc(100% - var(--item-size));
    --padding-h: calc(var(--total-padding) / 2);

    padding-left: var(--padding-h);
    padding-right: var(--padding-h);
}

.user-form-page-padding {
    --item-size: min(100% - 2.4rem, 28.5rem);
    --total-padding: calc(100% - var(--item-size));
    --padding-h: calc(var(--total-padding) / 2);
    
    padding-left: var(--padding-h);
    padding-right: var(--padding-h);
}

.form-page-padding-v {
    padding-top: 6rem;
    padding-bottom: 5rem;
}

.pdng-b-1 {
    padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    .padding-section-v-1 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media screen and (min-width: 1440px) {
    .padding-section-v-1 {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}