.produtoVizualizacao__nome {
    font-weight: 500;
    font-size: 1.5rem;
}

.last {
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    .produtoVizualizacao {
        --img-width: 19rem;
    }
    
    .produtoVizualizacao {
        display: grid;
        align-items: center;
        grid-template-columns: var(--img-width) 1fr;

        column-gap: 2rem;

        padding-left: var(--container-padding);
        padding-right: var(--container-padding);

        margin-bottom: 4rem;
    }

    .produtoVizualizacao > :last-child {
        padding: 0;
    }

    .produtoVizualizacao__descricao {
        font-size: 1rem;
    }

    .first {
        margin-top: 2rem;
    }

    .last {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 1440px) {
    .produtoVizualizacao {
        --img-width: 35rem;
    }
    
    .produtoVizualizacao__nome {
        font-size: 3.5rem;
    }

    .produtoVizualizacao__descricao {
        font-size: 1.15rem;
    }

    .first {
        margin-top: 4rem;
    }

    .last {
        margin-bottom: 4rem;
    }
}