.header {
    background-color: var(--branco);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.logo {
    height: 2rem;
}

.searchBarToggle {
    position: fixed;

    right: 1rem;
    bottom: 1rem;

    color: var(--azul);
    font-size: 2rem;

    z-index: 99999;
}

.searchBarContainer {
    min-width: 18rem;
    width: 50%;
}

@media screen and (max-width: 767px) {
    .searchBarContainer {
        display: none;
    }

    .mobileSearchBarMode .searchBarContainer {
        margin: auto;
        display: initial;
    }

    .header.mobileSearchBarMode {
        position: fixed;
        left: 0;
        top: 0;

        width: 100%;
        z-index: 9999;

        border-bottom: solid 2px var(--azul);
    }

    .header.mobileSearchBarMode~* {
        filter: blur(5px) grayscale(.5);
    }

    .mobileSearchBarMode> :not(.searchBarContainer, .searchBarToggle) {
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    .header {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .logo {
        height: 3.75rem;
    }
}